<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- adBottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1278619953555449"
     data-ad-slot="3359418363"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>