<%- include("partials/header") %>   

<div class="containerMain">
    <a href="/prace">
    <div class="leftMain">
        <h1 class="h1Main">Domáce práce</h1>
    </div>
</a>
<a href="/nakup">
    <div class="rightMain">
        <h1 class="h1Main">Nákup</h1>
    </div>
</a>
</div>


<%- include("partials/footer") %>    
	