<%- include("partials/header") %>   

<div class="containerMain">
    <a class="aMain" href="/prace">
    <div class="leftMain">
        <center><h1 class="h1Main">Domáce práce</h1></center>  
    </div>
</a>
<a class="aMain" href="/nakup">
    <div class="rightMain">
      <center><h1 class="h1Main">Nákup</h1></center>  
    </div>
</a>
</div>


<%- include("partials/footer") %>    
	